
<head>

</head>

<body>
.image-top-left {
  position: absolute;
  left: 200px;
  top: 50px;

}
</body>

<body>
.image-top-right {
  position: absolute;
  right: 800px;
  top: 50px;
}
</body>

<body>
.image-bottom-right {
  position: absolute;
  right: 800px;
  bottom: 50px;
}
</body>

<body>
.image-bottom-left {
  position: absolute;
  left: 200px;
  top: 50px
}
</body>



h1 {
  color: blue
}
