
<head>
	<title>Image in Top-Right Corner</title>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.top-right-container {
			position: fixed;
      right: 50px;
      top: 100px;
			height: 200px; /* Adjust the height as needed */
		}

		.top-right-image {
			float: right;
			max-width: 200px; /* Adjust the maximum width as needed */
			max-height: 150px; /* Adjust the maximum height as needed */
		}
	</style>
</head>
<body>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .top-left-container {
    position: fixed;
    left: 50px;
    top: 100px;
    height: 250px; /* Adjust the height as needed */
  }

  .top-right-image {
    float: left;
    max-width: 200px; /* Adjust the maximum width as needed */
    max-height: 150px; /* Adjust the maximum height as needed */
  }
</style>



h1 {
  color: white
}
